<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div id="kolom_1" class="col-xl-12">
                    <center><img src="{{ url_for('static', filename='image/logo-trilogi.png') }}"></center>
                    <h4>
                        Deteksi <i>Hoax</i> 
                        <br> 
                        Menggunakan <i>Extreme Gradient Boosting</i>
                        <br>
                        ________________________________________
                        <br>
                        ____________________________
                    </h4>
                </div>
                <div id="kolom_2" class="col-xl-12">
                    <form class="box" action="/" method="post" >
                        <textarea class="form-control" type="text" name="text" placeholder="Masukkan Berita/Judul"></textarea>
                        <!-- Button trigger modal -->
                        <button type='submit' class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        Prediksi
                        </button>
                            {% if sentiment %}
                                <h5>Hasil: {{sentiment}}</h5>
                                <h5>Probabilitas: {{sentiment_proba}}</h5>
                            {% endif %}
                    </form>
                </div>    
            </div>
          </div>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

        <!-- {% if sentiment %}
            <p>The sentiment of the text is: {{sentiment}}</p>
            <p>The probability: {{sentiment_proba}}</p>
        {% endif %} -->
    </body>
</html>